services:
  mydesktop:
    container_name: mydesktop
    hostname: mydesktop
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "4000:4000"
    environment:
      - NODE_ENV=production
      - PORT=4000
    restart: unless-stopped
